<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Little_share"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.ngo.activity_ngo_volunteer_detail"
            android:exported="false" />
        <activity
            android:name=".ui.volunteer.activity_volunteer_detail_calendar"
            android:exported="false" />
        <activity
            android:name=".ui.volunteer.activity_volunteer_donation_campaign_detail"
            android:exported="false" />
        <activity
            android:name=".ui.ngo.activity_ngo_attendance"
            android:exported="false" />
        <activity
            android:name=".ui.sponsor.activity_sponsor_report_view"
            android:exported="false" />
        <activity
            android:name=".ui.ngo.activity_create_report"
            android:exported="false" />
        <activity
            android:name=".ui.ngo.activity_ngo_profile_edit"
            android:exported="false" />
        <activity
            android:name=".ui.ngo.activity_ngo_edit_campaign"
            android:exported="false" />
        <activity
            android:name=".ui.ngo.acitivity_ngo_campaign_shift_list"
            android:exported="false" />
        <activity
            android:name=".ui.ngo.activity_ngo_campaign_add_shift"
            android:exported="false" />
        <activity
            android:name=".ui.ngo.activity_ngo_campagin_add_role"
            android:exported="false" />
        <activity
            android:name=".ui.ngo.activity_ngo_create_campagin_with_role"
            android:exported="false" />

        <activity
            android:name=".ui.volunteer.activity_volunteer_campagin_history"
            android:exported="false" />
        <activity
            android:name=".ui.sponsor.activity_sponsor_payment_confirm"
            android:exported="true"
            android:label="Merchant Demo"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="app"
                    android:scheme="demozpdk" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.ngo.activity_ngo_campagin_create_review"
            android:exported="false" />
        <activity
            android:name=".ui.volunteer.activity_volunteer_role_selection"
            android:exported="false" />
        <activity
            android:name=".ui.volunteer.activity_volunteer_donation_confirm"
            android:exported="false" />
        <activity
            android:name=".ui.volunteer.activity_volunteer_donation_form"
            android:exported="false" />
        <activity
            android:name=".ui.volunteer.activity_volunteer_gift_detail"
            android:exported="false" />
        <activity android:name=".ui.volunteer.activity_volunteer_role_registration" />
        <activity
            android:name=".ui.volunteer.activity_volunteer_gift_shop"
            android:exported="false" />
        <activity
            android:name=".ui.volunteer.activity_volunteer_edit_profile"
            android:exported="false" />
        <activity
            android:name=".ui.ngo.activity_ngo_donation"
            android:exported="false" />
        <activity
            android:name=".ui.ngo.activity_ngo_gift"
            android:exported="false" />
        <activity
            android:name=".ui.ngo.activity_ngo_finance_report"
            android:exported="false" />
        <activity
            android:name=".ui.ngo.acitivity_ngo_export_report"
            android:exported="false" />
        <activity
            android:name=".ui.ngo.activity_ngo_create_campaign_form"
            android:exported="false" />
        <activity
            android:name=".ui.ngo.activity_ngo_create_donation"
            android:exported="false" />
        <activity
            android:name=".ui.ngo.activity_ngo_create_campagin"
            android:exported="false" />
        <activity
            android:name=".ui.ngo.activity_ngo_campaign_detail"
            android:exported="false" />
        <activity
            android:name=".ui.volunteer.activity_voluteer_campaign_detail"
            android:exported="false" />
        <activity
            android:name=".ui.auth.activity_signup_sponsor"
            android:exported="false" />
        <activity
            android:name=".ui.sponsor.activity_sponsor_campaign_detail"
            android:exported="false" />
        <activity
            android:name=".ui.sponsor.activity_bio_profile_sponsor"
            android:exported="false" />
        <activity
            android:name=".ui.ngo.activity_ngo_main"
            android:exported="false" />
        <activity
            android:name=".ui.ProfileSponsorActivity"
            android:exported="false" />
        <activity
            android:name=".ui.volunteer.activity_volunteer_main"
            android:exported="false" />
        <activity
            android:name=".ui.auth.signup_ngo"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.auth.role_selection"
            android:exported="false" />
        <activity
            android:name=".ui.auth.signup_volunteer"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.auth.login"
            android:exported="false" />
        <activity
            android:name=".ui.auth.logInAndSignUp"
            android:exported="false" /> <!-- Splash Screen - Launcher -->
        <activity
            android:name=".ui.spash_screen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.sponsor.activity_sponsor_main"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/notification_accent" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>